<div class="flex justify-between p-3 bottom-1 border border-gray-200">
  <div class="pl-[20px]">
    <img src="../../../../assets/Time_Champ_new_logo.png" class="h-[45px]" />
  </div>
  <div class="flex items-stretch">
    <div class="px-[15px] flex items-center">
      <button
        class="px-4 py-[5px] bg-[#f1f1f1e5] text-[#495057] font-[400] rounded flex items-center gap-2 hover:bg-[#e2e8f0]"
      >
        <span class="leanding-[0]"
          ><i class="ri-download-cloud-2-line"></i></span
        >Download Agent
      </button>
    </div>
    <div class="px-[15px] border-x-slate-200 border-x flex items-center">
      <a class="block"> <i class="ri-article-line text-[24px] text-[#858795] hover:text-[#2E8F8F]"></i></a>
    </div>
    <div class="px-[15px] flex items-center cursor-pointer">
      <div>
        <div class="flex gap-1 items-center">
          <span>
            <img
              class="rounded-full"
              src="../../../../assets/images202306011014031626.jpg"
              width="40"
              height="40"
            />
          </span>
          <div class="flex flex-col min-w-0">
            <h3 class="text-[14px] font-[500] text-[#495057]leading-normal">
              Jones
            </h3>
            <p
              class="whitespace-nowrap overflow-hidden text-ellipsis text-[13px] font-[400] text-[#858795] leading-normal"
            >
              btrak578-development&#64;gmail.com
            </p>
          </div>
          <div>
            <i class="ri-arrow-drop-down-fill"></i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
