<div class="h-full w-full flex flex-col">
    <div>
        <app-header></app-header>
    </div>
    <div class="w-full h-full bg-[#F4F5F5] flex items-center">
        <div class="h-full w-full max-w-[270px] bg-[#F4F5F5] border-r border-slate-200">
            <div class="w-68 h-full w-full">
                <app-sidebar class="h-full w-full"></app-sidebar>
            </div>
        </div>
        <div class="h-full w-full bg-[#F4F5F5] border-r border-slate-200">
            <div class="h-full w-full flex flex-col">
              <app-mainpage class="h-full w-full flex flex-col"></app-mainpage>
            </div>
        </div>
    </div>
</div>