<div class="bg-[#F4F5F5] relative h-full w-full">
    <div class="absolute inset-0 h-full overflow-y-auto custom-scrollbar w-full group">
        <ul class="w-full bg-[#F4F5F5] p-2 rounded-lg shadow-md text-[#495057] font-[400]">
            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-time-line"></i>
                        <a href="#" class="text-inherit">Time Tracker</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="block mb-2">
             <div class="relative">
                <div class="flex items-center justify-between px-3 py-[5px] rounded-[2px] cursor-pointer relative hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white"
                [ngClass]="{'bg-[#4cb2b2] text-[#fff] hover:!bg-[#4cb2b2]':true}">
                    <div class="flex items-center gap-2">
                        <i class="ri-bar-chart-line"></i>
                        <a href="#" class="text-inherit">Productivity</a>
                    </div>
                    <i class="ri-arrow-right-s-line rotate-90"></i>
                </div>
                <div class="bg-white">
                    <ul class="space-y-2 justify-evenly">
                        <li class="px-2 py-[5px] cursor-pointer hover:bg-gray-200">Trends</li>
                        <li class="px-2 py-[5px] cursor-pointer hover:bg-gray-200">Timeline</li>
                        <li class="px-2 py-[5px] cursor-pointer hover:bg-gray-200">Configure</li>
                    </ul>                    
                </div>
             </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-pulse-line"></i>
                        <a href="#" class="text-inherit">Activity Monitoring</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-tv-line"></i>
                        <a href="#" class="text-inherit">Office TV</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-file-chart-line"></i>
                        <a href="#" class="text-inherit">Reports</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-bar-chart-2-line"></i>
                        <a href="#" class="text-inherit">Analytics</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-lightbulb-line"></i>
                        <a href="#" class="text-inherit">Recommendations</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-timer-line"></i>
                        <a href="#" class="text-inherit">Task Timer</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-folder-line"></i>
                        <a href="#" class="text-inherit">Projects</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-calendar-check-line"></i>
                        <a href="#" class="text-inherit">Timesheets</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>

            <li class="px-3 py-2 mb-2 rounded-[2px] cursor-pointer hover:bg-[#DBF0F0] active:bg-[#4cb2b2] active:text-white">
                <div class="flex items-center justify-between">
                    <div class="flex items-center gap-2">
                        <i class="ri-user-line"></i>
                        <a href="#" class="text-inherit">Clients</a>
                    </div>
                    <i class="ri-arrow-right-s-line"></i>
                </div>
            </li>
        </ul>
    </div>
</div>
